.splitter-layout {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splitter-layout .layout-pane {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
  scrollbar-width: thin;
}

.splitter-layout .layout-pane::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

.splitter-layout .layout-pane::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
}

.splitter-layout .layout-pane::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.splitter-layout .layout-pane::-webkit-scrollbar-button {
  display: none;
}

.splitter-layout .layout-pane.layout-pane-primary {
  flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
  flex: 0 0 auto;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
}

.splitter-layout .layout-splitter:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.splitter-layout.layout-changing {
  cursor: col-resize;
}

.splitter-layout.layout-changing > .layout-splitter {
  background-color: rgba(255, 255, 255, 0.5);
}

.splitter-layout.splitter-layout-vertical {
  flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
  cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
  width: 100%;
  height: 10px;
  cursor: row-resize;
}
